{% extends 'basic.html' %}
{% block head %}
<title>Catering</title> 
<script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.querySelector(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>
{% endblock %}

{% block body %}
<div style=" background-image:url('https://image.freepik.com/free-photo/doner-kebab-is-lying-cutting-board-shawarma-with-chicken-meat-onions-salad-lies-dark-old-wooden-table_120795-41.jpg');
  background-repeat:no-repeat;background-attchment:fixed;background-size:cover;height:500px;padding:50px 10px 20px 10px">
        <div style="text-align:center;color:#FFFFFF">
             <h1 style="font-size:80px;margin:50px 0px 0px;" >catering done right</h1>
                <p style="font-size:20px;padding:20px 0px 5px 0px;">For offices,events,parties,weddings,& more</p>
                </br>
                <a href="/contactus" class="btn btn--white">Contact Us for Catering</a>
                </br>
                
             
        </div>
</div>


<div>
     <div class="HoverOn"  style="text-align:center;border:1px solid black;">
             <h1 style="font-size:30px;font-style:italic;margin:0px auto;padding:70px;display:inline-block;">WAGON LOAD</h1>
             <i class="fa fa-plus-circle" onclick="toggle_visibility('#bbq')" style="font-size:36px;"></i>
	</div>
		     <div id="bbq" style="display:none;padding:30px 100px;border:1px solid black;" >
				 <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					SMOKEHOUSE MEATS
				 </h1>
				 <p  style="margin=10px">
					FOR PRICING INFORMATION, CLICK OUR DELIVERY AND FULL-SERVICE CATERING PDFS
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
						BEEF BRISKET	 
						 </h4>
						 <p>
							4R signature dry rubbed 18-hour smoked Angus brisket, sliced lean or moist
						 </p>
					 </div>
					  <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							SOUTHERN PULLED PORK

						 </h4>
						 <p>
						Southern-style smoked pulled pork 
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							PULLED CHICKEN 
						 </h4>
						 <p>
							Pulled smoked chicken 
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							SMOKED TURKEY
						 </h4>
						 <p>
							Warm, sliced, seasoned smoked turkey	 
						 </p> 
					 </div>
				 </div>
		 
	      <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					SIDES
				 </h1>
				 <p  style="margin=10px">
					ADDITIONAL SIDE: $2 PER PERSON
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BBQ BEANS 
						 </h4>
						 <p>
							Savory BBQ baked beans made with brisket and pork
						 </p>
					 </div>
					  <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							COLLARD GREENS


						 </h4>
						 <p>
						Classic collard greens made with ham
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							COLESLAW 
						 </h4>
						 <p>
							Homestyle creamy sweet dressing with fresh cabbage and carrots
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BAKED CHEESE GRITS

						 </h4>
						 <p>
							BAKED CHEESE GRITS
Grits baked to perfection with cheddar cheese	 
						 </p> 
					 </div>
				 </div>
		 </div>
        
		 </div>
       
<div>
     <div class="HoverOn"  style="text-align:center;border:1px solid black;">
             <h1 style="font-size:30px;font-style:italic;margin:0px auto;padding:70px;display:inline-block;">SMOKEHOUSE SHINDIG</h1>
             <i class="fa fa-plus-circle" onclick="toggle_visibility('#john')" style="font-size:36px;"></i>
	</div>
		 <div id="john" style="display:none;padding:30px 100px;border:1px solid black;" >
				 <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					 APPETIZERS
				 </h1>
				 <p  style="margin=10px">
					 
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
						BBQ QUESADILLAS
						 </h4>
						 <p>
							Brisket, Pulled Chicken, or Pulled Pork quesadillas
						 </p>
					 </div>
					  <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							TEXAS DESTROYER
						 </h4>
						 <p>
							Signature Angus brisket, topped with onion rings, jalapeños, melted provolone, served on a brioche bun and smothered in 4R Signature Sauc
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							THE LONGHORN							

						 </h4>
						 <p>
							Chopped brisket, Texas sausage served on a toasted roll over smokehouse relish, topped with onion rings and melted provolone.
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BBQ STREET TACOS 
						 </h4>
						 <p>
							Three grilled tortillas loaded with your choice of meat, pico de gallo, queso fresco, guasacaca, and crème fraîche topped with fresh chopped cilantro.
						 </p> 
					 </div>
				 </div>
		
	        <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					SIDES
				 </h1>
				 <p  style="margin=10px">
					ADDITIONAL SIDE: $2 PER PERSON
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BBQ BEANS 
						 </h4>
						 <p>
							Savory BBQ baked beans made with brisket and pork
						 </p>
					 </div>
					  <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							COLLARD GREENS


						 </h4>
						 <p>
						Classic collard greens made with ham
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							COLESLAW 
						 </h4>
						 <p>
							Homestyle creamy sweet dressing with fresh cabbage and carrots
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BAKED CHEESE GRITS

						 </h4>
						 <p>
							BAKED CHEESE GRITS
Grits baked to perfection with cheddar cheese	 
						 </p> 
					 </div>
				 </div>
		 </div>
       </div>
 
<div>
     <div class="HoverOn" style="text-align:center;border:1px solid black;">
             <h1 style="font-size:30px;font-style:italic;margin:0px auto;padding:70px;display:inline-block;">A LA CARTE DELIVERY</h1>
             <i class="fa fa-plus-circle" onclick="toggle_visibility('#fresh')" style="font-size:36px;"></i>
	</div>
	</div>
		  <div id="fresh" style="display:none;padding:30px 100px;border:1px solid black;" >
				 <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					 APPETIZERS
				 </h1>
				 <p  style="margin=10px">
				
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
						BBQ QUESADILLAS 
						 </h4>
						 <p>
							Brisket, Pulled Chicken, or Pulled Pork quesadillas
						 </p>
					 </div>
					 <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							TEXAS DESTROYER
						 </h4>
						 <p>
							Signature Angus brisket, topped with onion rings, jalapeños, melted provolone, served on a brioche bun and smothered in 4R Signature Sauc
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							THE LONGHORN							

						 </h4>
						 <p>
							Chopped brisket, Texas sausage served on a toasted roll over smokehouse relish, topped with onion rings and melted provolone.
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BBQ STREET TACOS 
						 </h4>
						 <p>
							Three grilled tortillas loaded with your choice of meat, pico de gallo, queso fresco, guasacaca, and crème fraîche topped with fresh chopped cilantro.
						 </p> 
					 </div>
				 </div>
		
		  <h1 style="margin:40px;color:rgb(228,99,70);text-align:center">
					SIDES
				 </h1>
				 <p  style="margin=10px">
					ADDITIONAL SIDE: $2 PER PERSON
				 </p>
				 <div class="row">
					 <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BBQ BEANS 
						 </h4>
						 <p>
							Savory BBQ baked beans made with brisket and pork
						 </p>
					 </div>
					  <div class="col-6">
						  <h4 style="color:rgb(228,99,70)">
							COLLARD GREENS


						 </h4>
						 <p>
						Classic collard greens made with ham
							 
						 </p>
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							COLESLAW 
						 </h4>
						 <p>
							Homestyle creamy sweet dressing with fresh cabbage and carrots
							 
						 </p> 
					 </div>
					  <div class="col-6">
						 <h4 style="color:rgb(228,99,70)">
							BAKED CHEESE GRITS

						 </h4>
						 <p>
							BAKED CHEESE GRITS
Grits baked to perfection with cheddar cheese	 
						 </p> 
					 </div>
				 </div>
		 </div>
      
    




<div style="text-align:center;">
 <img src="https://lh3.googleusercontent.com/By8pnYz7QRgenW7KCHACQio4ql27UVPcrueQc19ZgMaXEew2sbJ9JhPfqpnI8Jfttz9yYwPu6IYiqFM6bdbpM3VmKH6I38QIWkd8buTeyWmzxaT_cJyirQeGL4XsGfd3u2OIxEnhET3HnZCrbYNAumO0RaWTZatmojkZG-Vkv5KsNJNQV9Yj4k6W03119xdOzsE6Z7jTptihMxrbk94-ZyDPJugAw3gRUALhyg4vvUgC73V0P8OPcWWV2dCi4z8vjUQiYdhQ1nFctX03P96Bz3CXthuSYfsuCEM2-jyfidErMhEsGkglO29V15yvXviWAbtXPkLlQFiMOX63Kq1f7tYmjSZ0DK1tmUd_AV0nGdeImqvKihmXiMVDt9TS2gBokqr_zmDBmFkG2com37a_LA-gi_vbgx5BEpX9f8969Bs1Hh560MKRYEyOmi3WDoN3FHcPXB4JXjxD9rYyPZwrG8XXsoy_c5yU-woDuUrXwdomSMQcyy-roE7h3ysg-YqCH0HIXE9r7zcAtPQI93ehyhMvGHEsZFoxRR9LCt-B8bRbknL7CCxDlrjrJgt5svZn4PcANDXw91l2DSIpGJ-s7QNsVR49VuQWIUDOPTPChku9ux_s3kE4HKsYr4QBp-62kjCcE-xbizVzErzQqazSYHFsonsyRwIfYqYP_cMsQxQWBNx_N8mQ0FBP5XrBww=w959-h429-no?authuser=0" height="400" style="margin:10px auto;display:block">
 <h1 style="font-size:30px;font-style:italic;padding:50px auto;display:block;">The branch wedding catering</h1>
 <img src="https://lh3.googleusercontent.com/5lfETMlfFQdqNvGRjznbaON5lTnelYh9djNe9POSq9yVxehwyoRrOivWuO8wFXKUGNybsVfY_Fkvb35Qf3ZqeChbozPI2_egewzumZ6yiG84u4zM4avRRUURYDFA4iZV5P067yNhYztrCLUlZvskmXzUWJe2DY9hIyOvC2yUMHo7tsY5JKLerixaipOIXrW3RxuKFMy3-HLkamZMz82PFqDHyjZ1hApA1AMuph7vjziVFo5VnVxSFvFMloBn5JbToFqSXCm6lz-qoTR9HWQN9kdZgjC5Q0Z8pjGJ33ixwT-EuLZ0oTrWodOohSAZDrhKtLBXD5y3iZMU-P4eHXFaYNeb-2cJ8vsLccoeb24Y2IGh9wOfp1egmMwD35jU8LH9gi_dx8bZ8VC-s0UCJB_usJWldVodo10gttJwS5EIn3P87V0p61D6nnyhZrH-vhKrMGyK9Y_8220BGRzMwYgKWQTFxn3g2uDS9zVIUEFLLhUWGlINE0BI0ePMlrySbLkEbVDP6N5k3RDi30IgiDZr7udspodpqBtdMAv3h-7UMJvyKDcTRXzpqDjAGDXKh3hPyD0Ijp2dZNZEsD1Ydj53sV7GbXbNZQsrxJxsSL3nZmv42nluUoUunBSFvfQISjyIL08t-VWnMsFibvcIiSGHoUGTGzqpjBHddEmr2nJxlafd35_asrSBRLelSxcq7g=w1302-h320-no?authuser=0" style="margin:10px auto;display:block">
 <p style="width:800px;margin:10px auto">At The Branch, our wedding catering division, we take great pride in serving a broad array of
 delicious cuisine... from Smokehouse specialties and savory Southern favorites to your personal
 'must-haves', customized by you. We'll work with you to create your special menu, perfectly tailored
 to your event, budget and taste. We incorporate an element of beautiful design in our cuisine, 
to make our offerings as irresistible to the eye as they are to the palate. Our superior service accommodates
 any theme and tone, from chef stations to buffets, to passed service and table service, in any setting from the
 most intimate to the largest venue locations.</p>
 <img src="https://lh3.googleusercontent.com/rn7HJKtQS0o-5bdPxH6vD5kJffz1-VretxaYSdgklmB0Uuwttw8VvaR5xL3WgMVCe7DNKIofwE01oT4TP_bgBOz5FG9r12vbDh_m0xdq9_kzpEPDOnIGNaja-IHFLwQOMoVKGX43eE71I-v8baNQjXO2GNlwCyFkwr3SzZQv2o7o5wobREUel8Y3p43F2eZ-UQhcbeiAk0aSJlDDUqHBmK0lQig8SeoyC9YEHaUovYa7C7_jLS14rM7KRkgG3ypYW7HqfDY6RTDjDheVSzy0xKppo_xXM6jI1-rKRAf_m14T4FOOE8k_EHxg4Kzn-f9SxgUUUyBhp7fY24yvhpMUiSMH-KI7cFKvUuMMynHzGT4Exe05aW501xg9GAwxUP4JJNOCS0ZIA5cbf2NGm-oe_0M4jaA-RFMoMT4m_Gxsm8U0pkbxccRatIvIXURA-wii6a8nXmq6gXv-dhvFS072d3B2MrkRGkFlawI-UyTuLBNVMmYJqEZ19q_KZ6DITLeWTSEZUG4lV9wj5YNIQs8nRk7nPcYDY57yL9EiRllF3zW0S30WEEIUwa7xq3fq5z7eaI31Z3lh408Lr1r7zdgdC_rqBpaiq3SacXRrM39tVzChrp6JxBOo998mQNB7FJ0yBGM_8O4-rWD6H0e5kfEJ-2W1vzaeGKYVh-BkeOt0iZreBBKk_Fu3jGsFE2ubcA=w1233-h334-no?authuser=0" style="margin:10px auto;display:block">
 <p style="width:800px;margin:10px auto">The Sweet Shop and 4R Specialty Cakes are led by a 
batch of award-winning pastry chefs and talented bakers with a passion for crafting lasting memories through 
decadent desserts. We pour love into each one of our specialty cakes. No cake dream is too big (or too small) 
for our team to make a reality. We love a challenge... so give
 us your plans, or leave it to our imaginative crew to create a mouthwatering masterpiece for your big day!</p>
 
                </br>
   <h1 style="font-size:50px;font-style:bold;padding:60px auto;display:block;">delivery and catering</h1>
    <p style="width:800px;margin:10px auto">With advanced notice, 4 Rivers Smokehouse can deliver lunch or dinner to your work, location, or private residence. Free delivery within a 10 mile radius of our catering facility, with an additional fee for further mileage. Delivery orders include a hot drop-off and quick onsite set-up. Minimum Order is required for delivery and for catered events. All packages are priced per-person. Includes 4R signature BBQ sauce, buns, plates, utensils and napkins. We also offer your choice of bottled water, soda or lemonade, sweet tea and unsweet tea for an additional fee per person.

The 4 Rivers Smokehouse Catering team would love to cater your next event! From picnics in the park, upscale weddings on the beach, to corporate events and recognition parties, no event is too small or too large. Let us bring our award-winning BBQ to your event!

Choosing catering from 4 Rivers Smokehouse will allow you to enjoy your party or event by leaving the details of set-up, service and clean-up to our catering team. Catering includes chafing dishes, décor, and accents with the assistance of your Catering Sales Manager. Premium catering is available for an additional charge and includes upgraded utensils and service ware.
4 Rivers Catering, Pick Up, and Delivery is not available on Sundays.</p>
</div>

<div style="background-color:#FFFFFF;">
     <div style="text-align:center;border:1px solid black;">
             <h1 style="font-size:50px;margin:0px auto;padding:90px 0px 10px;width:600px;">Ready for dinner?</h1>
               </br>
                <a href="/location" class="btn btn--gold"style="margin:0px 0px 50px;">Find a location</a>
                </br>
       </div>
  </div>
{% endblock %}